@media only screen and (max-width:1200px){
    .h3-rplc{
        font-size: 20px!important;
    } 
    .box-c .sldr-a .bxc-cl{
        padding: 4px;
    }
    .box-c .sldr-a .bxc-cl .in-bxc-cl{
        padding: 5px;
    }
    .box-c .sldr-b h2{
        font-size: 25px;
    }    
}
